body {
  display: flex;
  flex-direction: row;
}
body > div {
  margin:10px;
}
#pointer {
  position: absolute;
  width: 0px;
  height: 0px;
  top:0px;
  left:0px;
  border-radius: 5px;
  background-color: #e74c3c;
  z-index: 2;
}
.box {
  position: absolute;
  background-color: #3498db;
}
.box:hover {
  transition:300ms;
  background-color: #2980b9;
  /* transform: scale(1.5); */
  /* z-index: 3; */
} 

.hero, .food{
  position: absolute;
  z-index: 30;
  text-align: center;
  cursor: default;
}

.food-check {
  background-color:#17c0eb;
  transition: 300ms;
}
.food-path {
  background-color: #38ada9;
  transition: 300ms;
}

.box-option {
  background-color: #3498db;
  width: 20px;
  height: 20px;
  outline: 3px solid #3498db;
  display: inline-block;
  margin-right: 5px;
}

#map {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}